<div class="jumbotron text-center">
  <h1>Welcome to Zones</h1>
  <muted><kbd>Quick and simple</small></muted>
</div>

<div class="container-flex text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-outline-dark' %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
