<div class="jumbotron text-center">
  <h1>Welcome! <br></h1>
  <h3><%=current_user.email%></h3>
</div>


<p id="notice" class="alert text-center"><%= notice %></p>

<div class="text-center">
  <%= link_to 'New Post', new_post_path, class: 'btn btn-outline-light' %>
    &nbsp;&nbsp;
  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-light' %>
  <br>
</div>
<br>
<div class="container">
  <% @posts.each do |post| %>
<div  id="card" class="card text-center d-inline-block" style="width: 18rem;">


      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= post.created_at %></h6>
        <p class="card-text"><%= current_user.email %></p>
        <%= link_to 'Show', post, class: 'btn btn-outline-dark' %>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-outline-dark' %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark' %>
      </div>
</div>
  <% end %>
  </div>
<br>
