<p id="notice" class="alert"><%= notice %></p>

<div class="container text-center">
  <dl>
     <dt><h2 class="jumbotron bg-info"><kbd><%= @post.title %></h2></dt>
     <dd><blockquote class="blockquote"><%= @post.body %></blockquote></dd>
     <br>
     <dt>User: <%= current_user.email %></dt>
   </dl>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Home', posts_path %>
</div>
